p{
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}
.one{
  color: rgb(96, 96 , 96);
  margin-bottom: 6px;
}
.first{
  color:black;
  font-weight: bold;

}
.two{
  width: 500px;
  line-height: 24px;
  margin-bottom: 20px;
}
.second{
  color: rgb(107, 185, 248);
}